.page.user
  %header.row
    %aside.col-3.suffix-1
      %figure.avatar
        = image_tag @user.avatar.url(:medium)
    %section.col-20.omega
      %h2= @user.name
      %ul.meta
        - if @user.location
          %li= @user.location
        - if @user.website
          %li= link_to @user.website, @user.website
      %p.biography= @user.biography
