.page.user
  %header.row
    %aside.col-3.suffix-1
      %figure.avatar
        = image_tag @user.avatar.url(:medium)
    %section.col-20.omega
      %h2= @user.name
      %ul.meta
        - unless @user.location.blank?
          %li= @user.location
        - unless @user.website.blank?
          %li= link_to @user.website, @user.website
      %p.biography= @user.biography
  %section
    - @user.wants.products.each do |product|
      = render :partial => 'products/product', locals: { product: product }
