- if current_user
  .feed
    = render :partial => 'partials/flash'
    %article.activity
      %aside.user
        %figure.avatar
          %a{href: profile_path(username: User.first.username)}
            = image_tag User.first.avatar.url(:large)
      %section
        %figure.product
          %a{href: Product.first.permalink}
            = link_to image_tag Product.first.photo.url(:large)
      %aside.product
        %h3= link_to Product.first.name, Product.first.permalink
        %p.store= link_to Product.first.store.name, store_path(store_domain: Product.first.store.domain)
        %nav
          %ul
            %li= link_to "Add", "#", class: "btn btn-green"
            %li= link_to "Purchase", "#", class: "btn"

- else
  .index
    %header
      %h2 Collect the products you love.
      %p Ikat is a simple way for you to collect and discover products you love.
      %ul
        %li= link_to "Learn More", features_path, class: "btn"
        %li= link_to "Join Now", join_path, class: "btn"
