%article.activity{'data-action' => activity.action}
  %aside
    %figure.avatar= image_tag activity.actor.avatar.url
  %section
    - case activity.action
    - when :follow
      %p #{link_to(activity.actor.name, profile_path(username: activity.actor.username))} followed #{link_to(activity.target.name, profile_path(username: activity.target.username))}
    - when :unfollow
      %p= "#{activity.actor.username} unfollow #{activity.target.username}"
    - when :add
      = render :partial => "products/product", locals: { product: activity.subject }
      - case activity.target_type
      - when "Wants"
        %p #{link_to(activity.actor.name, profile_path(username: activity.actor.username))} wants #{link_to(activity.subject.name, '#')}
      - when "Owns"
        %p= "#{activity.actor.username} added #{activity.subject.name} to Owns"
      - when "Collection"
        %p= "#{activity.actor.username} added #{activity.subject.name} to #{activity.target.name}"
