%article.activity{'data-action' => activity.action}
  %aside
    - if activity.actor.is_a?(User)
      %figure.avatar
        = link_to profile_path(username: activity.actor.username) do
          = image_tag activity.actor.avatar_url
    - else
      %figure.logo
        = link_to store_path(store_domain: activity.actor.domain) do
          = image_tag activity.actor.logo_url
  %section
    - case activity.action
    - when :follow
      - if activity.target.is_a?(User)
        %p #{link_to(activity.actor.name, profile_path(username: activity.actor.username))} followed #{link_to(activity.target.name, profile_path(username: activity.target.username))}
      - else
        %p #{link_to(activity.actor.name, profile_path(username: activity.actor.username))} followed #{link_to(activity.target.name, store_path(store_domain: activity.target.domain))}
    - when :unfollow
      %p= "#{activity.actor.username} unfollow #{activity.target.username}"
    - when :add
      = render :partial => "products/product", locals: { product: activity.subject, size: 'large' }
      - case activity.target_type
      - when "Wants"
        %p #{link_to(activity.actor.name, profile_path(username: activity.actor.username))} wants #{link_to(activity.subject.name, activity.subject.permalink)}
      - when "Collection"
        %p= "#{activity.actor.username} added #{activity.subject.name} to #{activity.target.name}"
      - when "Inventory"
        %p #{link_to(activity.target.owner.name, store_path(store_domain: activity.target.owner.domain))} added #{activity.subject.name}
