- if current_user
  - in_wants = current_user.wants.products.include?(product)

%figure.product{class: size}
  = link_to(product.permalink, class: "block") do
    .photo
      %img{src: image_path('loader.gif'), 'data-src' => product.photo_url(:large), alt: product.name}
  .info
    %ul
      %li.name <strong><a href="#{product.permalink}">#{truncate(product.name, length: 140)}</a></strong>
      %li.store <em>from</em> <a href="#{store_path(store_domain: product.store.domain)}">#{product.store.name}</a>
  .actions
    %span.price= product.full_price
    - if current_user
      %nav
        - if current_user
          = render :partial => "products/buttons/wants", locals: { product: product }
        - if current_user && current_user.collections.count > 0
          %span.collections-trigger.btn{class: in_wants ? 'btn-green' : 'btn-red'}
            %i.ss-icon dropdown
          %ul.collections
            - current_user.collections.each do |collection|
              %li
                = form_tag(product_flux_path(product_id: product.id, list: collection), remote: true, method: :post) do
                  %span
                    %label= link_to collection.name, user_collection_path(username: collection.owner.username, collection_slug: collection.slug)
                  %input.collection-flux{type: 'checkbox', checked: product.in_collection?(collection)}
