%figure.product
  -# %a.block{href: "#"}
  = link_to("#", class: "block") do
    .info
      %ul
        %li.name <strong>#{product.name}</strong> (#{product.full_price})
        %li.store <em>from</em> #{product.store.name}
    .actions
      -# For the love of all that is holy, fix this
      - if current_user.wants.products.include?(product)
        = button_tag "Remove", class: "btn-green"
      - else
        = button_tag "Add", class: "btn-red"
    .photo
      = image_tag product.photo.url(:large)
