- in_wants = current_user.wants.products.include?(product)

%figure.product{class: size}
  = link_to(product.permalink, class: "block") do
    .photo
      %img{src: image_path('loader.gif'), 'data-src' => product.photo_url(:large), alt: product.name}
  .info
    %ul
      %li.name <strong><a href="#{product.permalink}">#{product.name}</a></strong> (#{product.full_price})
      %li.store <em>from</em> <a href="#{store_path(store_domain: product.store.domain)}">#{product.store.name}</a>
  .actions
    %nav
      %a.flux.btn{class: in_wants ? 'btn-green' : 'btn-red'}
        = in_wants ? 'Remove' : 'Add'
      - if current_user.collections.count > 0
        %span.collections-trigger.btn{class: in_wants ? 'btn-green' : 'btn-red'}
          %i.ss-icon dropdown
        %ul.collections
          - current_user.collections.each do |collection|
            %li
              %span
                %label= collection.name
              %input{type: 'checkbox'}/
