.page.product
  %figure
    = link_to @product.buy_permalink, target: "_blank" do
      %img{src: image_path('loader.gif'), 'data-src' => @product.photo_url, alt: @product.name}
  .information
    %section
      %h2= @product.name
      %h3
        %span from
        = link_to @product.store.name, store_path(store_domain: @product.store.domain)
      %p= @product.full_price
    %section
      %ul
        %li= render :partial => "products/buttons/wants", locals: { product: @product }
        %li= render :partial => "products/buttons/collections", locals: { product: @product }
        %li= link_to "Buy", @product.buy_permalink, class: "btn btn-black", target: "_blank"
      %p
        = @product.categories.collect { |c| link_to(c.name, c.permalink) }.join(', ').html_safe

    %section.users
      %ul
        - @product.wanted_by.each do |u|
          %li= link_to(image_tag(u.avatar_url(:small), class: "avatar"), profile_path(username: u.username))
