.page.product
  %figure
    = link_to image_tag(@product.photo_url), @product.buy_permalink, target: "_blank"
  .information
    %section
      %h2= @product.name
      %h3
        %span from
        = link_to @product.store.name, store_path(store_domain: @product.store.domain)
      %p= @product.full_price
    %section
      %p
        = render :partial => "products/buttons/wants", locals: { product: @product }
        = link_to "Collect", "", class: "btn"
        = link_to "Buy", @product.buy_permalink, class: "btn btn-black", target: "_blank"
    %section.users
      %ul
        - @product.wanted_by.each do |u|
          %li= link_to(image_tag(u.avatar_url(:small), class: "avatar"), profile_path(username: u.username))
