.page.product
  %figure
    = image_tag @product.photo_url
  %aside
    %section
      %h2= @product.name
      %h3
        %span from
        = link_to @product.store.name, store_path(store_domain: @product.store.domain)
      %p= @product.full_price
    %section
      %p
        - if @product.in_wants?(current_user)
          = link_to "Remove", "", class: "btn btn-green"
        - else
          = link_to "Want", "", class: "btn btn-red"

        = link_to "Collect", "", class: "btn"
        = link_to "Buy", @product.link, class: "btn btn-black", target: "_blank"
    %section.users
      Wanted by...
      %ul
        - @product.wanted_by.each do |u|
          %li= link_to(image_tag(u.avatar_url(:small), class: "avatar"), profile_path(username: u.username))
